[submodule "go-infra"]
	path = go-infra
	url = https://github.com/babbage88/go-infra.git
	branch = develop
[submodule "infractl-ui"]
	path = infractl-ui
	url = https://github.com/babbage88/infractl-ui.git
	branch = develop
[submodule "infra-cli"]
	path = infra-cli
	url = https://github.com/babbage88/infra-cli.git
	branch = develop
[submodule "infra-db"]
	path = infra-db
	url = https://github.com/babbage88/infra-db.git
	branch = master
[submodule "infra-core"]
	path = infra-core
	url = https://github.com/babbage88/infra-core
[submodule "api-test-ui"]
	path = api-test-ui
	url = https://github.com/babbage88/api-test-ui
